head {
    text-align: center
}

body {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    background-color: rgb(51, 71, 138);
}

h5 {
    color: darkgray;
    font-size: 15px;
}

h4 {
    font-size: 17px;
}

h3 {
    color: brown;
}

h2 {
    color: burlywood;
}

h1 {
    color: rgb(126, 143, 179);
}

html {
    background-color: rgb(3, 47, 77);
    color: azure;
}

img {
    width: 100px;
    height: auto;
}

#btn-top {
    width: 35px;
    height: 35px;
    color: whitesmoke;
    background-color: rgb(146, 182, 235);
    text-decoration: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 3rem;
    text-align: center;
    border-radius: .5rem
}

#btn-top:hover {
    width: 35px;
    height: 35px;
    padding: 0 !important;
    color: whitesmoke;
    background-color: rgb(140, 174, 218);
    text-decoration: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 3rem;
    text-align: center;
    border-radius: .5rem;
}

button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 1.5em;
    background-color: rgba(154, 191, 247, 0.938);
}

a {
    text-decoration: none;
    color: rgb(145, 196, 245);
    margin-right: 1.5em;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(124, 193, 238);
    padding: 5px 15px;
    border-radius: .5rem;
}

li {
    /* display: flex;*/
    flex-direction: row;
    align-items: center;
}

ul {
    display: inline-block;
    justify-content: center;
    font-size: 17px;
    text-align: start;
}


/*Changer la couleur d’un texte : color
Changer la police d’un texte : font-family
Modifier la taille d’un texte : font-size
Définir la graisse d’un texte : font-weight
Modifier la forme d’un texte : font-style
Définir l’alignement d’un texte : text-align*/